export PATH=/var/obj/xbolvans-divine-divine/release//tools:/var/obj/xbolvans-divine-divine/release//llvm/bin:/var/obj/xbolvans-divine-divine/bench/tools:/var/obj/xbolvans-divine-divine/release//divine:/var/obj/xbolvans-divine-divine/release//lart:/var/obj/xbolvans-divine-divine/release/:$PATH
